<%= require('html-loader!../common/head.html') %>
<div id="vueApp_form" v-cloak>
<%= require('html-loader!../common/header2.html') %>
		<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body px-5">
						<form id="form-getBackPassword" action="https://www.bitcoinalert.io/api/portal/coin/user/findpwd">
							<div class="mb-4 text-center">
								<h4 class="text-center mb-4">Forgot Password?</h4>
								<p v-if="fail_text" class="mb-0 text-danger">{{fail_text}}</p>
							</div>
							<p class="text-center">Please type in the email address you used to log into BitcoinAlert.io. After you submit the request, we will send you a password reset link.</p>
							<div class="form-group">
								<input type="email" name="userName" class="form-control" placeholder="Enter email">
							</div>
							<div class="text-center pt-3">
								<a class="btn btn-primary text-white" v-bind:class="{'disabled':submitting}" href="javascript:;" v-on:click="checkSubmit('#form-getBackPassword')">submit</a>
								<p class="mt-3 small mb-5">Return to <a href="/user/login.html" class="hover">Log in</a></p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<%= require('html-loader!../common/footer.html') %>
</body>
<script type="text/javascript">
	$(function(){
		$('#Modal').modal({
			backdrop: false,
			keyboard: false
		})
	})
</script>
</html>