<%= require('html-loader!../common/head.html') %>
	<title>Modify Password | Bitcoin Alert</title>
</head>
<body>
<div id="vueApp_form" v-cloak>
<%= require('html-loader!../common/header2.html') %>
		<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body px-5">
						<form id="form-modifyPassword" action="https://www.bitcoinalert.io/api/work/coin/user/modifypwd">
							<h4 class="text-center mb-4">Modify Password</h4>
							<div class="form-group">
								<label>New password</label>
								<input type="password" data-name="passWord" class="form-control" placeholder="new password">
								<input type="hidden" name="newPassWord" data-name="hex_passWord">
							</div>
							<div class="text-center py-3 mb-4">
								<a class="btn btn-primary text-white" v-bind:class="{'disabled':submitting}" href="javascript:;" v-on:click="checkSubmit('#form-modifyPassword')">submit</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<%= require('html-loader!../common/footer.html') %>
</body>
<script type="text/javascript">
		$(function(){
			$('#Modal').modal({
				backdrop: false,
				keyboard: false
			})
		})
	</script>
</html>