<%= require('html-loader!./common/head.html') %>
<%= require('html-loader!./common/header2.html') %>
<div class="py-5">
	<div class="container small">
		<div class="row justify-content-center">
			<div class="col-lg-11">
				<h1 class="h5 font-weight-bold">About Us</h1>
				<p>Bitcoinalert.io is here to make sure that you will not miss the golden chance you are longing for as the market swings at any time of the day. Crypto prices are subject to a number of factors and you will need to focus on your price charts each day to watch the changes. Knowing that the price watch can be time-intensive, we have dedicated our time, staff, and technology to comb the markets. 
				</p>
				<p>
					Price movements and volatility provides the crypto trader with openings to ride the market and make some gains. At bitcoinalert.io, we empower our readers with the needed stats to buy, sell and trade cryptocurrencies.  
				</p>
				<p>
					Most traders have to continually star the price charts to keep with price changes and determine at what rate to buy. By using our alert system, you are notified when the preferred price for you crypto is reached, and you can simply go ahead to buy or sell as you desire.
				</p>
				<p>
					We ensure that we keep our eyes on the more than 1,000 tokens and coins that are available for daily trade each day.  We do the heavy lifting on your behalf so that you have the defining data you need each day for crypto trades.
				</p>
				<p>
					Contact us: support( AT )bitcoinalert.io
				</p>
				
			</div>
		</div>
	</div>
</div>

<%= require('html-loader!./common/footer.html') %>
</body>
</html>