<%= require('html-loader!./common/head.html') %>
	<title>Bitcoin Alert: Track Cryptocurrency Live Price and Get Alarms for FREE</title>
</head>
<body>
<div id="vueApp_home" v-cloak>
	<%= require('html-loader!./common/header.html') %>
	<div class="py-lg-5 text-center text-white" style="background: url(images/home-bg.jpg) center no-repeat;">
		<div class="container py-5">
			<img src="images/logo-icon.png">
			<h1 class="my-lg-4 my-2">Bitcoin Alert</h1>
			<h4 class="mb-5">Monitoring 12,000+ cryptocurrencies price, price rate of change & get regular crypto price update!</h4>
			<a href="javascript:;" v-on:click="goto('/add-alert/price-point.html')" class="btn btn-light text-primary btn-lg">Try it free</a>
		</div>
	</div>
</div>
<a name="features"></a>
<div class="py-5">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 text-center py-4">
				<img src="images/advanced-bitcoin-alert-types.png" alt="Flexible Cryptocurrency Price Alerts Types" title="Flexible Cryptocurrency Price Alerts Types">
			</div>
			<div class="col-lg-6 px-lg-5 py-4 text-center text-lg-left">
				<div class="px-lg-5">
					<h2 class="mb-4">Flexible crypto price alert types</h2>
					<p class="text-secondary">Most Bitcoin price alert tools only offer alerts that based on price changes. But we offer you much more powerful alerts based on criteria such as trading spikes, percentage increase/decrease, volume increase/decrease and more. You can also get crypto price regular updates, with no need to stare at the price any more. We save your time and let you focus on what you love!</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="py-5 bg-info">
	<div class="container">
		<div class="row align-items-center flex-column-reverse flex-lg-row">
			<div class="col-lg-6 px-lg-5 py-4 text-center text-lg-left">
				<div class="px-lg-5">
					<h2 class="mb-4">Monitoring 12,000+ cryptocurrencies' price</h2>
					<p class="text-secondary">We support 20+ major markets and more than 12,000+ cryptocurrencies. Create an alert in less than 30 seconds. You will never miss an inversting oppounity! <a class="text-primary" href="https://www.bitcoinalert.io/user/signup.html" target="_blank">Sign up free here >></a></p>
				</div>
			</div>
			<div class="col-lg-6 text-center py-4">
				<img src="images/1000-cryptocurrencies-price-alert.png" alt="Monitoring 1000+ cryptocurrencies price" title="Monitoring 1000+ cryptocurrencies price">
			</div>
		</div>
	</div>
</div>
<div class="py-5">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 text-center py-4">
				<img src="images/mutibile-bitcoin-notifications.png" alt="Mutibile Bitcoin notifications" title="Mutibile Bitcoin notifications">
			</div>
			<div class="col-lg-6 px-lg-5 py-4 text-center text-lg-left">
				<div class="px-lg-5">
					<h2 class="mb-4">Mutibile Bitcoin notifications</h2>
					<p class="text-secondary">Get real-time notifications via email and international SMS. You don't need to install any apps on your cell phone! We made it convenient for you!</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="py-5 bg-info">
	<div class="container">
		<div class="row align-items-center flex-column-reverse flex-lg-row">
			<div class="col-lg-6 px-lg-5 py-4 text-center text-lg-left">
				<div class="px-lg-5">
					<h2 class="mb-4">Major cryptocurrency exchanges supported</h2>
					<p class="text-secondary">Want Coinbase price notifications, GDAX price alerts, and more? Don't worry! We support cryptocurrency price alert from over 20+ major exchanges. <a class="text-primary" href="https://www.bitcoinalert.io/markets.html" target="_blank">Check all the exchanges we supported here >></a></p>
				</div>
			</div>
			<div class="col-lg-6 text-center py-4">
				<img src="images/major-cryptocurrency-exchanges-price-alert.png" alt="Major cryptocurrency exchanges supported" title="Major cryptocurrency exchanges supported">
			</div>
		</div>
	</div>
</div>
<div class="py-5 text-center text-white" style="background: url(images/bg2.jpg) center no-repeat;background-size: cover;">
	<div class="container py-5">
		<h2 class="mb-5">3 Simple steps to monitor Bitcoin price for free</h2>
		<div class="row">
			<div class="col-lg-4 px-lg-5 py-4">
				<img src="images/icon1.png" alt="sign up free for Bitcoin Alert">
				<h5 class="mt-4 mb-3">Sign up free</h5>
				<p class="small">Sign up for your free online account: enter email and password.</p>
			</div>
			<div class="col-lg-4 px-lg-5 py-4">
				<img src="images/icon2.png" alt="Setting Bitcoin price alert">
				<h5 class="mt-4 mb-3">Setting Bitcoin price alert online</h5>
				<p class="small">In the control panel, set Bitcoin or other cryptocurrencies' price and notifications types.</p>
			</div>
			<div class="col-lg-4 px-lg-5 py-4">
				<img src="images/icon3.png" alt="track cryptocurrency price">
				<h5 class="mt-4 mb-3">Track cryptocurrency price 24/7</h5>
				<p class="small">Monitor your cryptocurrencies' price and the changes in 24/7. You will get alerted if the price achives what you setted.</p>
			</div>
		</div>
	</div>
</div>
<div class="py-5">
	<div class="container py-4 text-center">
		<h2 class="mb-5">Why our users love us</h2>
		<div class="row justify-content-center">
			<div class="col-lg-6 py-4 pr-lg-4">
				<div id="slick-1">
					<div class="text-lg-left">
						<p class="h5">"Very good online tool to monitor cryptocurrency price and get alarms! It saved me a lot of time! I don't need to check Bitcoin's price again and again everyday. Now, I can put all my valuable time and energy on my job!"</p>
						<p class="text-secondary"><img src="images/user1.png"> - Tom Naber</p>
					</div>
					<div class="text-lg-left">
						<p class="h5">"Thank you a lot for providing such an awesome tool to track Bitcoin price! Once again thank you sir and your team. Excellent! Alert me the price of Bitcoin I setted and I never miss a golden opportunity to buy Bitcoin at a proper price. It helps me to make a profitable and sweet invest."</p>
						<p class="text-secondary"><img src="images/user2.png"> - Don Cheney</p>
					</div>
					<div class="text-lg-left">
						<p class="h5">"Unbelievably easy to use and full of just the right features. I have been looking for a service to get live cryptocurrency price tracking like this for a long time. I recommend every cryptocurrency investors use it!"</p>
						<p class="text-secondary"><img src="images/user3.png"> - Nick Gackell</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 py-4 border-lg-left pl-lg-5 text-lg-left">
				<div>
					<i class="star"></i>
					<i class="star"></i>
					<i class="star"></i>
					<i class="star"></i>
					<i class="star-empty"></i>
				</div>
				<p class="h6 text-gray9">Rated 4.49/5 based <br/>on 788 reviews</p>
				<a data-toggle="modal" class="btn btn-primary btn text-white" href="#Modal-1">RATE THIS</a>
			</div>
		</div>
	</div>
</div>
<div class="py-3 bg-info text-center">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<img src="images/demo.png">
			</div>
			<div class="col-lg-5 py-5 text-lg-left">
				<h2>Get started now</h2>
				<p class="mt-3 text-secondary">Want a free and easy-to-use way to get Bitcoin alerts? We got you covered. Are you an advanced trader who wants an alert if the price of LTC on BTC-e goes above 1000 coins per hour? No problem! Bitcoin Alert helps you understand what's going on with the markets - and protect your investment.</p>
				<div class="py-3">
					<a href="https://www.bitcoinalert.io/user/signup.html" target="_blank" data-toggle="modal" class="btn-lg btn btn-primary text-white mr-lg-4 my-2">Sign up free</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- modal -->
<div class="modal fade" id="Modal-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h6 class="modal-title w-100 text-center" id="exampleModalLabel">RATE THIS PAGE</h6>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center">
				<div class="rate-star">
					<label class="mx-2 my-0">
						<i class="star"></i>
						<p class="mb-0">Hated it</p>
					</label>
					<label class="mx-2 my-0">
						<i class="star"></i>
						<p class="mb-0">Disliked it</p>
					</label>
					<label class="mx-2 my-0">
						<i class="star"></i>
						<p class="mb-0">It's Ok</p>
					</label>
					<label class="mx-2 my-0">
						<i class="star"></i>
						<p class="mb-0">Liked it</p>
					</label>
					<label class="mx-2 my-0">
						<i class="star-empty"></i>
						<p class="mb-0">Loved it</p>
					</label>
				</div>
			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btn btn-primary" data-dismiss="modal">SUBMIT</button>
			</div>
		</div>
	</div>
</div>
<%= require('html-loader!./common/footer.html') %>
</body>
</html>